<template>
  <div>
    <form>
      <input v-model="formData.value" type="text" />
    </form>
    <Child />
  </div>
</template>
<script>
// taken from: https://gist.github.com/uriannrima/d131db13256255d2f07d9e33e7adca63
import StoredMixinFactory from './store.mixin'
import FormStore from './store'
import Child from './Child'

export default {
  name: 'AppForm',
  components: { Child },
  mixins: [
    StoredMixinFactory({
      moduleNamespace: 'form',
      module: FormStore,
      // stateMapping: true,
      // gettersMapping: true,
      // mutationsMapping: true,
      actionsMapping: ['setFormData'],
      commitRegistration: true
    })
  ],
  data() {
    return {
      formData: {}
    }
  },
  provide() {
    return {
      formData: this.formData
    }
  },
  watch: {
    formData: {
      handler(data) {
        this.setFormData(data)
      },
      deep: true
    }
  }
}
</script>
